@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme{
  --color-green: hsl(75,94%,57%);
  --color-white: hsl(0,0%,100%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}

:root {
  @apply bg-grey-900 h-full w-full text-sm text-white;
}
main{
  @apply w-full;
}
.container{
  @apply z-0 bg-grey-800 w-11/12 mx-auto my-10 items-center text-center;
}
.img{
  @apply z-10 rounded-full h-14 w-14 mx-auto;
}
.green-text{
  @apply text-green;
}