@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme{
  --color-green: hsl(75,94%,57%);
  --color-white: hsl(0,0%,100%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}

*{
  @apply text-sm font-normal;
}
:root {
  @apply bg-grey-900 h-full w-full text-white;
}
main{
  @apply w-full;
}
.container{
  @apply z-0 bg-grey-800 max-w-fit mx-auto my-10 items-center text-center;
}
.img{
  @apply z-10 rounded-full h-14 w-14 mx-auto;
}
h2{
  @apply text-xl font-bold;
}
.green-text{
  @apply text-green font-semibold mt-1 mb-5;
}
p{
  @apply text-xs;
}
Button{
  @apply text-sm font-bold mx-auto w-full my-3 bg-grey-700 text-white last-of-type:mt-3 last-of-type:mb-0 hover:bg-green hover:text-grey-900 cursor-pointer;
}

footer{
  @apply text-center text-white text-xs mx-auto px-5;
  a{
    @apply text-green hover:underline hover:underline-offset-4;
  }
}